<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <meta name="description" content="{title}">
    <meta name="keywords" content="{keywords}">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍞</text></svg>">
    <!-- <link rel="stylesheet" href="/style.css"> -->
    <link rel="stylesheet" href="/bread/style.css">
</head>

<body>
    <header class="site-header">
        <div class="logo">
            <a href="/bread/" class="bread-icon" title="Home">🍞</a>
        </div>
        <nav class="site-nav">
            <a href="/bread/" class="nav-link">Home</a>
            <a href="/bread/posts.html" class="nav-link">Posts</a>
        </nav>
    </header>

    <div class="site-content">
        <article>
            {content}
        </article>
    </div>

    <footer class="meta">
        Published: {date}
        | Tags: {tags}
    </footer>
</body>

</html>